# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Build artifacts
build/
dist/

# Env
.env
.env.*

# OS
.DS_Store

# Editor
.vscode/
